Error will be displayed

In [19]:
data=['peter','Paul',None,'Mary','gUIDO']
[s.capitalize() for s in data]

AttributeError: 'NoneType' object has no attribute 'capitalize'

Capitalize

In [2]:
data=['peter','Paul','Mary','gUIDO']
[s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Guido']

In [3]:
import pandas as pd
names=pd.Series(data)
print(names)

0    peter
1     Paul
2     Mary
3    gUIDO
dtype: object

In [22]:
names.str.capitalize()

0    Peter
1     Paul
2     Mary
3    Guido
dtype: object

In [23]:
names.str.len()

0    5
1    4
2    4
3    5
dtype: int64

In [24]:
names.str.lower()

0    peter
1     paul
2     mary
3    guido
dtype: object

In [29]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'text': ['hello', 'world', 'python']})

# Create a translation table
trans_table = str.maketrans({'h': 'H', 'w': 'W', 'p': 'P'})

# Apply translate function
df['translated_text'] = df['text'].str.translate(trans_table)

print(df)

     text translated_text
0   hello           Hello
1   world           World
2  python          PytHon

In [27]:
names.str.islower()

0     True
1    False
2    False
3    False
dtype: bool

In [30]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'names': ['Alice', 'Bob', 'Charlie']})

# Apply ljust to align strings within a width of 10
df['padded_names'] = df['names'].str.ljust(10, '-')

print(df)

     names padded_names
0    Alice   Alice-----
1      Bob   Bob-------
2  Charlie   Charlie---

In [31]:
names.str.upper()

0    PETER
1     PAUL
2     MARY
3    GUIDO
dtype: object

In [35]:
names.str.startswith('g')

0    False
1    False
2    False
3     True
dtype: bool

In [36]:
names.str.isupper()

0    False
1    False
2    False
3    False
dtype: bool

In [37]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'names': ['Alice', 'Bob', 'Charlie']})

# Apply ljust to align strings within a width of 10
df['padded_names'] = df['names'].str.rjust(10, '-')

print(df)

     names padded_names
0    Alice   -----Alice
1      Bob   -------Bob
2  Charlie   ---Charlie

In [39]:
names.str.find('peter')

0    0
1   -1
2   -1
3   -1
dtype: int64

In [40]:
names.str.endswith('C')

0    False
1    False
2    False
3    False
dtype: bool

In [41]:
names.str.isnumeric()

0    False
1    False
2    False
3    False
dtype: bool

In [44]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'names': ['Alice', 'Bob', 'Charlie']})

# Apply center to align strings within a width of 10
df['centered_names'] = df['names'].str.center(10, '-')

print(df)

     names centered_names
0    Alice     --Alice---
1      Bob     ---Bob----
2  Charlie     -Charlie--

In [46]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'names': ['Alice', 'Bob', 'Charlie', 'Anna']})

# Find the rightmost occurrence of 'a'
df['rfind_a'] = df['names'].str.rfind('a')

print(df)

     names  rfind_a
0    Alice       -1
1      Bob       -1
2  Charlie        2
3     Anna        3

In [47]:
names.str.isalnum()

0    True
1    True
2    True
3    True
dtype: bool

In [48]:
names.str.isdecimal()

0    False
1    False
2    False
3    False
dtype: bool

In [54]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'numbers': ['5', '42', '123', '7890']})

# Apply zfill to ensure a width of 5
df['zero_filled'] = df['numbers'].str.zfill(5)

print(df)

  numbers zero_filled
0       5       00005
1      42       00042
2     123       00123
3    7890       07890

The str.index() function raises a ValueError if the substring is not found. To avoid this error, you can use str.find(), which returns -1 if the substring is missing.

In [55]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'names': ['Alice', 'Bob', 'Charlie', 'Anna']})

# Find the leftmost occurrence of 'a' safely
df['index_a'] = df['names'].str.find('a')  # Avoids ValueError

print(df)

     names  index_a
0    Alice       -1
1      Bob       -1
2  Charlie        2
3     Anna        3

In [56]:
names.str.isalpha()

0    True
1    True
2    True
3    True
dtype: bool

In [57]:
names.str.split()

0    [peter]
1     [Paul]
2     [Mary]
3    [gUIDO]
dtype: object

In [58]:
names.str.strip()

0    peter
1     Paul
2     Mary
3    gUIDO
dtype: object

The str.rindex() function raises a ValueError if the substring is not found in a string. Since this can cause issues, it's better to use str.rfind(), which returns -1 instead of raising an error.

In [61]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'names': ['Alice', 'Bob', 'Charlie', 'Anna']})

# Use rfind() to avoid ValueError
df['rindex_a'] = df['names'].str.rfind('a')  # Returns -1 if 'a' is not found

print(df)

     names  rindex_a
0    Alice        -1
1      Bob        -1
2  Charlie         2
3     Anna         3

In [62]:
names.str.isdigit()

0    False
1    False
2    False
3    False
dtype: bool

In [63]:
names.str.rsplit()

0    [peter]
1     [Paul]
2     [Mary]
3    [gUIDO]
dtype: object

In [64]:
names.str.rstrip()

0    peter
1     Paul
2     Mary
3    gUIDO
dtype: object

In [65]:
names.str.capitalize()

0    Peter
1     Paul
2     Mary
3    Guido
dtype: object

In [66]:
names.str.isspace()

0    False
1    False
2    False
3    False
dtype: bool

In [67]:
names.str.partition()

       0 1 2
0  peter
1   Paul
2   Mary
3  gUIDO

In [68]:
names.str.lstrip()

0    peter
1     Paul
2     Mary
3    gUIDO
dtype: object

In [69]:
names.str.swapcase()

0    PETER
1     pAUL
2     mARY
3    Guido
dtype: object

In [70]:
names.str.istitle()

0    False
1     True
2     True
3    False
dtype: bool

In [4]:
names.str.rpartition()

  0 1      2
0      peter
1       Paul
2       Mary
3      gUIDO